/* HOME */

:root {
    --blanc: #FFF;
    --gris: #978787;
    --nav: #dc9044;
    --color1: #86BEC0;
    --noir: #000;
    --rouge: #ee1a1a;
    --shadow: #131111;
    --tableau: #E6E4E0;
    --shadow_map: text-shadow: 1px 1px 0 var(--shadow), 1px 2px 0 var(--shadow), 3px 3px 0 var(--shadow), -1px -1px 0 var(--shadow), 1px -1px 0 var(--shadow), -1px 1px 0 var(--shadow), 0 1px 0 var(--shadow);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--tableau);
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
    border-top: 1px solid var(--tableau);
}

.container {
    width: 100%;
    padding: 20px;
}

.header {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
}

.header div {
    width: calc(100% - 100px);
    height: auto;
}

.header div small {
    font-size: 14px;
}

/*locais*/

.headerl {
    margin: 20px;
    padding-top: 100px;
    font-size: 30px;
    display: flex
}

.headerl div {
    width: calc(100% - 100px);
    height: auto;
}

/*nav*/

.nav {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.nav p {
    display: inline;
    padding-left: 10px;
    text-align: right;
}

.icon {
    width: 20px;
    height: 20px;
}

.map a, .map a:visited, .map a:active {
    background-color: var(--noir);
    font-size: 20px;
    color: var(--blanc);
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.map a:hover {
    background-color: var(--rouge);
}

.map {
    margin-top: 50px;
    margin-bottom: 50px;
}

.homeintro {
    padding-top: 35px;
    font-size: 20px;
}

.hometitle {
    padding-top: 60px;
    padding-left: 20px;
}

.section {
    color: var(--gris);
}

.beta {
    font-size: 14px;
}

/* /////////////// NOTAS /////////////// */

.main-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#map {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
}

/* ////// NAVIGATION /////  */

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.menu span {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    font-size: 35px;
    background-color: var(--blanc);
    cursor: pointer;
}

.doc {
    background-color: var(--tableau);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    /* left: 100vw;*/
    z-index: 1000;
    opacity: 0;
    transition: opacity 300ms;
    z-index: 0;
    overflow: auto;
}

.dep {
    /*transform: translateX(-100vw);*/
    opacity: 1;
    z-index: 1000;
}

.list {
    list-style: none;
    font-size: 13px;
}

/* ////// STYLE TAGS /////// */

.my-labels div {
    box-shadow: none;
    border: none;
    width: 200px;
    border-width: 2px;
    text-align: center;
}

.my-labels p {
    padding: 0;
    margin: 0;
}

.my-labels span.tag {
    text-shadow: 1px 1px 0 var(--shadow), 1px 2px 0 var(--shadow), 3px 3px 0 var(--shadow), -1px -1px 0 var(--shadow), 1px -1px 0 var(--shadow), -1px 1px 0 var(--shadow), 0 1px 0 var(--shadow);
    font-weight: bold;
    line-height: 100%;
    white-space: normal;
    color: var(--blanc);
}

.my-labels span.tag:first-letter {
    text-transform: uppercase;
}

/* TAGS EDIT*/

.tag-text-box {
    position: absolute;
    z-index: 100;
    display: none;
    white-space: nowrap
}

#tag {
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    text-align: center;
    border-radius: 5px;
}

.destroy {
    cursor: pointer;
}

.content {
    position: absolute;
    z-index: 90;
    left: 20px;
    top: 72px;
    text-align: center;
    width: 288px;
    background-color: var(--blanc);
    border-radius: 5px;
    text-align: center;
}

.content form {
    display: inline;
}

.content span {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 11px;
}

.content a {
    color: var(--noir)
}

.profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.env {
    padding: 10px;
    background-color: var(--noir);
    color: var(--blanc);
    border: none;
    outline: none;
}

.enable.stop {
    position: absolute;
    z-index: 900;
    right: 20px;
    top: 100px;
    display: none;
}

.enable.escreve {
    position: absolute;
    z-index: 900;
    right: 20px;
    top: 100px;
}

.enable.stop img, .enable.escreve img {
    height: 80px;
    width: 80px;
}

.active img {
    box-shadow: 0 0 1em var(--rouge);
    border-radius: 50px;
    display: block;
}

/* VOTE*/

#likes, #dislike {
    font-size: 30px;
    cursor: pointer;
    color: var(--rouge);
}

#vote {
    position: absolute;
    border-radius: 5px;
    left: 0;
    right: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    z-index: 900;
    text-align: center;
    padding: 5px;
    background-color: var(--noir);
    color: var(--blanc);
    display: none;
}

/*PESQUISA*/

.search {
    position: absolute;
    left: 25px;
    z-index: 100;
}

.search input {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.35em;
    text-align: center;
    font-weight: 800;
    border-radius: 5px
}

.search span {
    position: fixed;
    left: 30px;
    top: 32px;
}

/*DIVERS*/

.textcenter {
    text-align: center;
}

.homeintro {
    padding-top: 20px;
    font-size: 20px;
}

.homeintro small {
    font-size: 14px;
}

.beta {
    font-size: 14px;
}

/*INFOS*/

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 120px;
    padding-bottom: 40px;
}

.infos>div {
    width: 300px;
    height: 350px;
    margin-right: 10px;
    text-align: center;
}

.infos>div h2 {
    padding-bottom: 20px;
}

.disclamer {
    padding-right: 2em;
    padding-left: 1em;
}

.description {
    margin-top: 2em;
    padding: 1.2em;
    font-size: 1.8em;
    background-color: var(--nav);
    color: var(--blanc);
    padding-top: 1.5em;
}

/*links*/

a:visited, a:active {
    color: var(--noir);
}

.love {
    text-align: center;
    font-size: 12px;
    padding-bottom: 50px;
    padding-top: 50px;
    color: var(--gris);
}

/* emojis*/

.display img {
    height: 40px;
    width: 40px;
}

.display {
    padding: 5px;
}

.imog {
    position: absolute;
    padding-left: 20px;
    white-space: nowrap;
    z-index: 100;
}

.emoji-picker__wrapper {
    z-index: 100;
}

.x {
    position: absolute;
    top: 40px;
    display: none;
    cursor: pointer;
}

.icon {
    position: absolute;
    left: -10px;
    top: 8px;
    color: #d3d0d0;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
}

/* intro */

.introlist {
    padding-top: 20px;
}

.introlist ul {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
}

.introlist li {
    width: 500px;
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.prim::first-letter {
    text-transform: uppercase;
}

.introlist ul li span.adress {
    font-size: 11px;
    line-height: 0px;
}

.introlist h2 {
    font-size: 2.5em;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.bad{
    color: var(--rouge);
    font-size: 25px;
    font-style: italic;

    
}

.center {
    text-align: center;
}

/* RESPONSIVE*/

@media only screen and (max-width: 1100px) {
    .header {
        flex-direction: column;
        max-width: 100vw;
        font-size: 20px;
    }
    .header div {
        width: 100%
    }
    .hometitle {
        padding-top: 50px;
    }
    .introlist li {
        width: 400px;
        text-align: center;
       
    }
}